*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.roulette {
  position: relative;
  height: 45vw;
  width: 45vw;
  background-color:  rgb(230, 239, 248);
  border-radius: 50vw;
  border: solid 1px black;
  transition: all ease 1s;
}

.batch {
  position: absolute;
  height: 22vw;
  width: 22vw;
  border: 1px solid black;
}

button {
  position: absolute;
  height: 6vw;
  width: 6vw;
  transform: translateX(-50%) translateY(-50%);
  background-color:  rgb(230, 239, 248);
  border-radius: 100%;
  z-index: 1;
  left: 50%;
  top: 50%;
}

#clover {
  border-top-right-radius: 100%;
  right: 0;
  background-image: url(/public/assets/images/leafClover.jpg);
}

#hotWater {
  border-top-left-radius: 100%;
  background-image: url(/public/assets/images/hotWater.jpg);
}

#kitten {
  border-bottom-left-radius: 100%;
  bottom: 0;
  background-image: url(/public/assets/images/kitten.jpg);
}

#wii {
  border-bottom-right-radius: 100%;
  bottom: 0;
  right: 0;
  background-image: url(/public/assets/images/wii.jpg);
}